commands:
  01_install_yarn:
    command: |
      set -e
      npm i -g yarn
      ln -s "$(npm bin --global)"/yarn /usr/bin/yarn
    test: "! yarn -v"
  02_install_nest:
    command: npm i -g @nestjs/cli
    test: "! nest --version"
  03_install_typescript:
    command: npm i -g typescript
    test: "! tsc --version"